*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.3s;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(40, 40, 40);
}

main{
    font-family: 'Roboto', sans-serif;
}

.background {
    background-image: url(images/image\ 26.png);
    padding: 204px 0;
    position: relative;
    background-size: cover;
}

.black {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 45%;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.container {
    position: relative;
    margin: auto;
    max-width: 1200px;
    z-index: 2;
}

 .background p {
    color: #fff;
    width: 28%;
}

 .background h1 {
    color: #fff;
    width: 32%;
    padding-bottom: 20px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.ocean{
    width: 33%;
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
flex-wrap: wrap;
}

.ocean h1{
    color: #118877;
    padding-top: 70px;
    text-align: left;
    padding-bottom: 15px;
} 

.list h1{
padding-top: 80px;
font-size: 30px;
padding-bottom: 20px;
}

.list li{
    list-style: none;
    padding-top: 20px;
    background-image: url(images/arcticons_droplets.svg);
    background-position: 2% center;
    background-repeat: no-repeat;
    padding-left: 65px;
    font-size: 24px;
}

.read{
  padding-top: 72px;
  padding-bottom: 102px;
}

 .read a{
    text-decoration: none;
    color: #118877;
    border: 2px solid;
    border: solid linear-gradient(94.78deg, #118877 7.54%, #028090 97.64%);
    padding: 8px 45px;
}

.problem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.problem a{
    border: solid #027E90;
    width: 33%;
    text-align: center;
    font-size: 24px;
   text-decoration: none;
   padding-top: 39px;
   padding-left: 22px;
   padding-right: 85px;
   padding-bottom: 39px;
    color: #027E90;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-image: url(images/Arrow2.svg);
background-position: 96% center;
text-align: left;
}

.topic{
    padding-bottom: 50px;
}

.new{
    padding-top: 90px;
    padding-bottom: 54px;
}

.news{
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

.news a{
    border: solid #027E90;
    width: 100%;
    text-align: center;
    padding-top: 67px;
    padding-left: 33px;
    padding-right: 96px;
    padding-bottom: 67px;
    font-size: 30px;
    margin-top: 24px;
    text-decoration: none;
    color: #027E90;
    background-image: url(images/Arrow2.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
    text-align: left;
}

.problem a:hover{
    background-color: #028090;
    color: #fff;
    background-image: url(images/Arrow1.svg);
}

.news a:hover{
    background-color: #028090;
    color: #fff;
    background-image: url(images/Arrow1.svg);
}

footer{
    background-color: #028090;
}

footer p{
    color: #FFFF;
    text-align: center;
    font-size: 20px;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media(max-width:1200px ){
    .container{
        max-width: 95%;
    }

}

@media(max-width: 1100px ){
    .problem a{
        width: 48%;
    }
}

@media(max-width: 864px){
    .ocean{
        width: 48%;
    }
}

@media(max-width: 425px){
  .problem a{
      width: 100%;
      font-size: 20px;
      padding: 20px 45px 20px 20px;
      text-align: left;
  }
  .ocean{
      width: 100%;
  }

  .news a{
      width: 100%;
      font-size: 20px;
      padding: 20px 50px 20px 20px;
  }

  .background h1{
     font-size: 25px;
  }

  .background{
      padding: 100px 0;
  }

  .list h1{
      font-size: 25px;
      padding-bottom: 25px;
      padding-top: 50px;
  }

  .new{ 
      padding-top: 20px;
      padding-bottom: 25px;
  }

  .topic{
      padding-top: 0;
      padding-bottom: 25px;
  }
  .read{
      padding-bottom: 50px;
      padding-top: 50px;
}

.ocean h1{
    padding-top: 25px;
    padding-bottom: 15px;
}

.news{
    padding-bottom: 50px;
}

.black{
    width: 100%;
}
.background p{
  width: 90%; 
}

.background h1{
    width: 40%;
}
}

@media(max-width: 348px){
    .news a{
        padding: 20px 60px 20px 20px;
        font-size: 18px;
    }

    .problem a{
        padding: 20px 63px 20px 20px;
        width: 100%;
        font-size: 18px;
    }
}